@model IEnumerable<MyProject.Models.TransportCompany>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransportCompanyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransportCompanyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransportCompanyId })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back", "../Home/Admin")