@model MyProject.Models.Request

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Request</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RequestId)

        <div class="form-group">
            @Html.LabelFor(model => model.SubmitDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubmitDate)
                @Html.ValidationMessageFor(model => model.SubmitDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartureDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartureDate)
                @Html.ValidationMessageFor(model => model.DepartureDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReturnDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReturnDate)
                @Html.ValidationMessageFor(model => model.ReturnDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DelegationId, "DelegationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DelegationId", String.Empty)
                @Html.ValidationMessageFor(model => model.DelegationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, "StatusId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusId", String.Empty)
                @Html.ValidationMessageFor(model => model.StatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartureAddressId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartureAddressId)
                @Html.ValidationMessageFor(model => model.DepartureAddressId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReturnAddressId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReturnAddressId)
                @Html.ValidationMessageFor(model => model.ReturnAddressId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
