@{
    ViewBag.Title = "Admin";
}
<h2>Administrator page</h2>

<p>Select an action</p>

<li>@Html.ActionLink("Manage users", "Index", "Employee")</li>
<li>@Html.ActionLink("Manage countries", "Index", "Country")</li>
<li>@Html.ActionLink("Manage destinations", "Index", "Address")</li>
<li>@Html.ActionLink("Manage statuses", "Index", "Status")</li>
<li>@Html.ActionLink("Manage delegation types", "Index", "Delegation")</li>
<li>@Html.ActionLink("Manage allowances", "Index", "Allowance")</li>
<li>@Html.ActionLink("Manage transport companies", "Index", "TransportCompany")</li>

