@model MyProject.Models.Request

@{
    ViewBag.Title = "Create";
}

<h2>Create new request</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

         <div class="form-group">
            @Html.LabelFor(model => model.DepartureDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartureDate)
                @Html.ValidationMessageFor(model => model.DepartureDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReturnDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReturnDate)
                @Html.ValidationMessageFor(model => model.ReturnDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusId", String.Empty)
                @Html.ValidationMessageFor(model => model.StatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DelegationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DelegationId", String.Empty)
                @Html.ValidationMessageFor(model => model.DelegationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartureAddress.AddressId, "Departure Address", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartureAddressId", String.Empty)
                @Html.ValidationMessageFor(model => model.DepartureAddress.AddressId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReturnAddress.AddressId, "Return Address", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReturnAddressId", String.Empty)
                @Html.ValidationMessageFor(model => model.ReturnAddress.AddressId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StandIn.FullName, "Stand In Employee", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StandInId", String.Empty)
            </div>
        </div>
   
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "IndexMyReq")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
