@model MyProject.Models.Request

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="~/Scripts/jquery-1.3.2.min.js"> </script>
<script type="text/javascript" src="~/Scripts/script.js"></script>

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Request</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RequestId)

   
        <div class="form-group">
            @Html.LabelFor(model => model.DepartureDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DepartureDate)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReturnDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ReturnDate)
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusId", String.Empty)
                @Html.ValidationMessageFor(model => model.StatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DelegationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Delegation.DelegationType)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.AllowanceId, "Allowance", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AllowanceId", String.Empty)
            </div>
        </div>

        <div>
            <!--existing transports-->
            @using (@Html.BeginForm())
            {<table border="1">
                <tr>
                    <th>
                        Select
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transport.TransportId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transport.TransportComp)
                    </th>
                </tr>
                @foreach (var item in Model.Transport)
                {
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Transport.TransportId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Transport.TransportComp.CompanyName)
                    </td>
                </tr>
                }

            </table>
            }
        </div>




        <!--Html.ActionLink("Add Transport Details", "../Transport/Create") -->
        <br/>
        <a href="#" class="topopup">Add New Transport Details</a>
        <div id="toPopup">
            <div class="close"></div>
            <span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
            <div id="popup_content">
                <!--{Html.RenderPartial("../Request/_Details");}-->
                <div>
                    @using (@Html.BeginForm())
                    {
                        <h2>Add Transport Details</h2>
                        <fieldset>
                            <table>
                                <tr>
                                    <td><b>Departure Date</b></td>
                                    <td>@Html.EditorFor(model => model.Transport.DepartureDateTime)</td>
                                </tr>
                                <tr>
                                    <td><b>Departure Time</b></td>
                                    <td>@Html.EditorFor(model => model.Transport.DepartureTime)</td>
                                </tr>
                                <tr>
                                    <td><b>Return Date</b></td>
                                    <td>@Html.EditorFor(model => model.Transport.ArrivalDateTime)</td>
                                </tr>
                                <tr>
                                    <td><b>Return Time</b></td>
                                    <td>@Html.EditorFor(model => model.Transport.ArrivalTime)</td>
                                </tr>
                                <tr>
                                    <td><b>Departure Address</b></td>
                                    <td>@Html.EditorFor(model => model.Transport.DepartureAddress)</td>
                                </tr>
                                <tr>
                                    <td><b>Return Address</b></td>
                                    <td>@Html.EditorFor(model => model.Transport.ArrivalAddress)</td>
                                </tr>
                                <tr>
                                    <td><b>Driver</b></td>
                                    <td>@Html.EditorFor(model => model.Transport.Driver.FullName)</td>
                                </tr>
                                <tr>
                                    <td><b>Transport Company</b></td>
                                    <td>@Html.DropDownList("TransportId", String.Empty)</td>
                                </tr>

                                <tr>
                                    <td><b>Plane Ticket</b></td>
                                    <td><input type="file" id="PlaneTicketPath" name="PlaneTicketPath" /></td>
                                </tr>
                            </table>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>

                        </fieldset>
                    }
                </div>
            </div> <!--your content end-->
        </div> <!--toPopup end-->

        <div class="loader"></div>
        <div id="backgroundPopup"></div>

       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Back to List", "IndexHR")
    </div>

            @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            }
