@{
    ViewBag.Title = "Requests";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Choose an action.</p>

<li>@Html.ActionLink("New request", "Create", "Request")</li>
<li>@Html.ActionLink("View my requests", "IndexMyReq", "Request")</li>
<li>@Html.ActionLink("View all requests", "IndexAll", "Request")</li>
<li>@Html.ActionLink("Manage requests", "IndexSup", "Request")</li>
@if(User.Identity.Name.Equals("GeorgianaBeu"))
{
<li>@Html.ActionLink("Add travel information", "IndexHR", "Request")</li>
}
