@model IEnumerable<MyProject.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusName)
        </th>
        <th>
            Applicant
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delegation.DelegationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status.StatusName)
        </td>
        <td>
            @Html.DisplayFor(model => item.Applicant.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delegation.DelegationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @{  var status = item.Status.StatusName;
        }
        
            @if (status == "New")
            {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.RequestId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RequestId })
            </td>
            }
            @if (status != "New")
{
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.RequestId })
    </td>
}
           
</tr>
}

</table>

<div>
    @Html.ActionLink("Back", "../Request") |
    @Html.ActionLink("New request", "../Request/Create")
</div>


