@model MyProject.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Headquarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headquarter.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuperiorEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuperiorEmployee.FullName)
        </dd>
        @if (Model.EndDate.Year > 1800)
        {
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        }
    </dl>
</div>
<p>
    @if(Model.EndDate.Year == 1800)
    { 
        <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
        @Html.ActionLink("Back to List", "Index") </p>
    }
    @if (Model.EndDate.Year > 1800)
    {
        @Html.ActionLink("Back to List", "Index")
    }
</p>
